html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
nav {
  background-color: rgb(136, 136, 136);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}
nav ul li {
  margin: 0 30px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9.5vh 0 0 0;
  color: rgb(128, 128, 128);
}
#header h1 {
  font-weight: 400;
}
#header h2 {
  font-weight: 600;
  font-size: 2rem;
}
#header h3 {
  margin-bottom: 0;
  font-weight: normal;
}
#aboutme {
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
}
#portfolio {
  margin-top: 100px;
}
figure {
  margin: 40px 10px;
}
.figure-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 120px;
}
.heading {
  font-size: 2.5rem;
}
figcaption {
  margin: 0 20px;
}
.image {
  max-width: 75vw;
  max-height: 65vh;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}
.row > figure img {
  height: 27vh;
}
.row > figure > figcaption {
  font-size: 1.5rem;
}
.row p {
  width: 90%;
  text-align: center;
  margin: auto;
}
img {
  margin: 25px 0;
}
footer {
  text-align: center;
}
footer p {
  font-style: italic;
}
footer p span {
  font-weight: bold;
  font-style: normal;
}
