html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7.5vh 0 0 0;
  color: rgb(128, 128, 128);
}
#header h1 {
  font-weight: 400;
}
#header h2 {
  font-weight: 600;
}
#header h3 {
  margin: 0;
}
#aboutme {
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
}
#portfolio {
  margin-top: 100px;
}
figure {
  margin: 30px 10px;
}
.figure-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 2.5rem;
}
figcaption {
  margin: 0 20px;
}
.image {
  max-width: 75vw;
  max-height: 85vh;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row > figure img {
  height: 27vh;
}
.row p {
  width: 90%;
  text-align: center;
  margin: auto;
}
footer {
  text-align: center;
}
footer p {
  font-style: italic;
}
footer p span {
  font-weight: bold;
  font-style: normal;
}
